@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

:root {
  font-size: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Nav bar */
.header {
  border-bottom: 1px solid #e2e8f0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #363636;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 4rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: rgb(17, 180, 255);
}

.nav-logo {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(17, 180, 255);
}

.site-header {
  background-color: rgb(183, 244, 255);
  color: black;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 150px;
  width: 70%;
}
.project-page {
  background-color: rgb(235, 235, 235);
  height: 100vh;
}
.about-page {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}
.site-header-content {
  height: fit-content;
}
.site-header-content h1 {
  font-size: 1.2rem;
}
.span-name {
  font-size: 2rem !important;
  font-weight: 600 !important;
}
.course-link {
  color: black;
  font-style: italic;
}
body {
  margin: 0;
}
.social-links {
  position: relative;
  display: flex;
  border-width: 2px;
  max-height: fit-content;
  padding: 1rem;
  justify-content: center;
  color: #f4f4f4;
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #263238;
  color: #f4f4f4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  padding: 1rem;
}
.icon-adjust {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  color: beige;
  font-size: x-large;
}
/* .pageTwo {
  height: 100vh;
} */
.pageHead h2 {
  color: rgb(17, 180, 255);
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.about-p {
  color: rgb(68, 68, 68);
  font-size: large;
  padding: 20px;
  padding-left: 50px;
  text-align: justify;
  padding-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  height: 100vh;
}
.project-space {
  height: 300px;
  background-color: cornflowerblue;
  transition: ease-out 500ms;
  display: flex;
}
.project-card {
  display: flex;
  width: 180px;
  height: 220px;
  background-color: rgb(255, 255, 255);
  margin: 40px;
  margin-right: 0;
  border-radius: 3px;
  transition: 500ms;
  text-align: center;
}
.project-card-new {
  display: flex;
  width: 180px;
  height: 235px;
  background-color: rgb(255, 255, 255);
  margin: 40px;
  margin-right: 0;
  border-radius: 3px;
  transition: 500ms;
  text-align: center;
}
.project-card-link h4 {
  text-align: center !important;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  width: 180px;
  height: 15px;
  padding: 0;
  color: #252c30 !important;
}
.project-card-link img {
  height: 20px;
  width: 20px;
  align-items: center;
  margin-bottom: 10px;
}
.project-card:hover {
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0 0.3rem 1.4rem 0 rgb(161, 241, 253);
  /* transform: translate(-0.2rem); */
}
/* .project-card-detail-body {
  max-height: 40vh;
  width: ;
  font-family: Arial, Helvetica, sans-serif;
} */

/* Scrollbar */

.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
}

/* Project card buttons */

.project-card-btn {
  width: 180px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-card-btn button {
  height: fit-content;
  justify-content: center;
  font-size: small;
  margin: 10px;
  border-radius: 15px;
  border: 0.1px solid rgb(161, 221, 71);
  background-color: #fff;
  height: 25px;
}

.project-card-btn button:hover {
  cursor: pointer;
  background-color: rgb(168, 223, 80);
  color: #fff;
  box-shadow: 0.2rem 0.3rem 1rem rgb(168, 223, 80);
  margin-bottom: 15px;
  transition: ease-in 300ms;
  border: 0.1px solid rgb(116, 116, 116);
}

.project-card-details {
  width: 146px;
  text-align: justify;
  height: 90px;
  font-size: 12;
  align-content: center;
  padding: 10px;
  margin-left: 6px;
  border: 0.1px solid rgb(161, 221, 71);
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
@media screen and (max-width: 768px) {
  :root {
    font-size: 15px;
  }
  .site-header {
    padding-left: 100px;
  }
  .nav-menu {
    position: fixed;
    left: -110%;
    top: 2.5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .navbar {
    padding: 0.4rem 1.4rem;
  }
  .nav-menu.active {
    left: -10%;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}
@media screen and (max-width: 630px) {
  :root {
    font-size: 10px;
  }
  .site-header {
    padding-left: 80px;
  }
  .navbar {
    padding: 0.4rem 1.4rem;
  }
  .nav-menu {
    top: 2.8rem;
  }
}
